<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container">
    <img src="../assets/pokeball.png" class="me-2 logo" />
    <a class="navbar-brand" routerLink="/">PokeAPI</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="!validRole(); else adminI">
          <li class="nav-item">
            <a class="nav-link" routerLink="/pokedex">
              <img src="../assets/telefono-inteligente.png" class="pokeIcon" />
              Pokedex</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mapbox"
              ><i class="fa-solid fa-map-location-dot"></i> Maps</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tienda"
              ><i class="fa-solid fa-store"></i> Tienda</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/stream"
              ><i class="fa-solid fa-signal-stream"></i> Streams</a
            >
          </li>
        </ng-container>
        <ng-template #adminI>
          <li class="nav-item">
            <a class="nav-link" routerLink="/crudTienda">
              <i class="fa-solid fa-gear"></i> Administracion</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tienda"
              ><i class="fa-solid fa-store"></i> Tienda</a
            >
          </li>
        </ng-template>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-container
          *ngIf="
            !authService.loggedIn() && !fbLoginService.isLogin;
            else loggedIn
          "
        >
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">
              <i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesion</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup"
              ><i class="fa-solid fa-user-plus"></i> Registrarse</a
            >
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <ul class="navbar-nav ms-auto pt-1">
            <li
              class="nav-item pt-1 text-danger"
              *ngIf="authService.loggedIn()"
            >
              <p>¡Hola {{ name }}!</p>
            </li>
            <li class="nav-item ms-2" *ngIf="authService.loggedIn()">
              <a class="nav-link over" (click)="authService.logout()"
                ><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion
              </a>
            </li>
            <li
              class="nav-item pt-1 text-danger"
              *ngIf="fbLoginService.isLogin"
            >
              <p>¡Hola {{ fbLoginService.socialUser.firstName }}!</p>
            </li>
            <li class="nav-item ms-2" *ngIf="fbLoginService.isLogin">
              <a class="nav-link over" (click)="fbLoginService.signOut()"
                ><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion
              </a>
            </li>
          </ul>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="container p-5">
  <router-outlet></router-outlet>
</div>
