<div class="twitch">
  <div class="row mt-4">
    <div class="twitch-video col mb-4">
      <iframe
        src="https://player.twitch.tv/?channel=pokemon&parent=localhost&autoplay=true"
        height="500"
        width="754"
        allowfullscreen
      >
      </iframe>
    </div>
    <div class="twitch-chat col">
      <iframe
        id="chat_embed"
        src="https://www.twitch.tv/embed/pokemon/chat?parent=localhost"
        height="500"
        width="350"
      >
      </iframe>
    </div>
  </div>
</div>
