<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header bg-dark">Crear Cuenta</div>
      <div class="card-body text-center">
        <form (submit)="signUp()" class="needs-validation" novalidate>
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="user.username"
              name="username"
              class="form-control"
              placeholder="Nombre de Usuario"
              required
            />
          </div>
          <div class="form-group mt-2">
            <input
              type="email"
              [(ngModel)]="user.email"
              name="email"
              class="form-control"
              placeholder="Correo Electronico"
              required
            />
          </div>
          <div class="form-group mt-2">
            <input
              type="password"
              [(ngModel)]="user.password"
              name="password"
              class="form-control"
              placeholder="Contraseña"
              required
            />
          </div>
          <button type="submit" class="btn btn-warning mt-2 rounded-4">
            Registrarse
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
