<div class="row">
  <div class="col">
    <div class="card border-dark mb-2 m-auto">
      <div class="card-header">
        {{ product.name }}
      </div>
      <div class="card-body text-center">
        <img [src]="product.imgUrl" class="img-fluid mb-2 rounded-2" />
        <p>{{ product.description }}</p>
        <p>Categoria: {{ product.category }}</p>
        <p>Precio ${{ product.price }} MXN</p>
        <button class="btn btn-success" (click)="addToCart()">Agregar</button>
      </div>
    </div>
  </div>
</div>